<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to No Kill NYC, <%= @user.fname %></h1>
    <p>
      You have successfully signed up to nokill.nyc,
      your login is: <%= @user.email %>.<br>
    </p>
    <p>
      In order to add an animal to the database you need to confirm your e-mail address. Please click here.
      <%= confirm_email_user_url(@user.email_token) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
